<div style="text-align: center;">
    <h1> Register</h1>
    <input [(ngModel)]="register.username" placeholder="Username"> <br>
    <input [(ngModel)]="register.password1" placeholder="Password1" type="password"> <br>
    <input [(ngModel)]="register.password2" placeholder="Password2" type="password"> <br>
    <input [(ngModel)]="register.email" placeholder="Email"> <br>
    <input [(ngModel)]="register.refferal_code" placeholder="refferal_code"> <br>
    <input [(ngModel)]="register.phone_number" placeholder="Phone_number"> <br>
    <input [(ngModel)]="register.device_details" placeholder="device details"> <br>
    <input [(ngModel)]="register.location" placeholder="location"> <br>
    <button (click)="registerUser()">Register </button>
</div>